{
   "blockKey" : [
    {
      "value" : [160, 160, 160, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "xb_durashippanel",
      "foregroundResidual" : true
    },

    {
      "value" : [200, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "xb_durashippanel",
      "backgroundResidual" : true
    },

    {
      "value" : [128, 64, 64, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "xb_titaniumglass",
      "foregroundResidual" : true
    },

    {
      "value" : [240, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "xb_titaniumglass",
      "backgroundResidual" : true
    },

    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [240, 240, 240, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "flags" : [ "shipLockerPosition" ],
      "object" : "xb_basicshiplocker",
      "objectParameters" : {
        "level" : 0.5,
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "basicshiplockerTier0",
      "objectParameters" : {
	 "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 144, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_flushlocker",
      "objectParameters" : {
	 "treasurePools" : [ "exshiptreasure" ],
	 "unbreakable" : true
      },
      "objectResidual" : true,
      "objectDirection" : "right"
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_basictechstation",
      "objectParameters" : {
	 "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "brokenbasicfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_basicfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "apexshiplight",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "apexshiplightBroken",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "xb_basicshipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "basicshipdoorBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 72, 16, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "xb_basicshiphatch",
      "objectResidual" : true
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_basicteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "basicteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_basiccaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 240, 240, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "xb_durashippanel",
      "backgroundResidual" : true,
      "object" : "xb_basiccaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : false
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 64, 150, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_advancedFTLdrive",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [128, 32, 75, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "xb_unfinishedFTLdrive",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 32, 64, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "outpostplatform",
      "objectResidual" : true
    },
	
	{
	  "value" : [128, 128, 128, 255],
	  "foregroundBlock" : false,
	  "backgroundBlock" : true,
	  "object" : "esd_bootuptemp",
      "objectResidual" : true
	}
  ]
}
