{
   "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "flags" : [ "shipLockerPosition" ],
      "object" : "basicshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "floranStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "object" : "basicshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "object" : "basictechstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "brokenbasicfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "basicfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "object" : "apexshiplight",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "object" : "apexshiplightBroken",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "basicshipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "basicshipdoorBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 72, 16, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "basicshiphatch",
      "objectResidual" : true
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "object" : "basicteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass",
      "object" : "basicteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "basiccaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "blackglass"
    },

    {
      "value" : [255, 64, 150, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "advancedFTLdrive",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },

    {
      "value" : [128, 32, 75, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "unfinishedFTLdrive",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 32, 64, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "outpostplatform",
      "objectResidual" : true
    }
  ]
}
